* {
    margin: 0;
    padding: 0;
    }


a {
    text-decoration: none; /* Quita el subrayado de todos los enlaces */
    }
 a:hover {
    text-decoration: none; /* Asegura que tampoco aparezca al pasar el ratón */
  }

body {
    display: flex;
    flex-direction: column;
    padding-top:70px; /* Para el espacio del menú fijo */
  }

  .padBody{
    padding-top:50px
  }
 
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  
  /* Estilos para las cards */
  .card {
    background-size: cover;
    background-position: center;
    color: white;
    height: 250px;
    position: relative;
    transition: transform 0.3s ease;
  }
  
  /* Imágenes en blanco y negro */
  .card .imgInicio {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    
  }
  /* Imagen a color cuando se pasa el mouse */
  .card:hover .imgInicio {
    filter: grayscale(0);
  }
  .card-body {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    text-align: center;       /* Centra el texto dentro del contenedor */
    height: 100%;             /* Asegura que el contenedor ocupe toda la altura disponible */
      
  }
  .card-title {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
   
  }

  .flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .flexRow{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
 
.mapa{
  
  height: 40vw;

}
 

 /* Ajustes de la galería */
 .gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery img:hover {
  transform: scale(1.05); /* Efecto de zoom en hover */
}

.bgImg{
  height: 100vh;
  background-image: url("./img/14.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.imgFondo1{
  background-image: url("./img/caosmos.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;

}
  
.imgFondo2{
  background-image: url("./img/05.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;

}

@media only screen and (max-width: 701px) {
  .columnReverse{
    flex-direction: column-reverse;

  }
}